################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Rabbit
/Simple/obj
/Simple/bin
/IronRabbit/obj
/IronRabbit/bin
/.vs
/IronRabbitTest/bin/Debug/net6.0
/IronRabbitTest/obj
